  
  *{
    color: #ffa500;
  }


.Cursoverano{
  color: #F39C12;
}

.Finclases{
  color: #E74C3C;
}
.CeremoniaE{
  color: #F1C40F;
}
.Inicioclass{
  color: #2ECC71;
}
.Reinscript{
  color: #1E8449;
}
.ReinscripTardias{
  color: #E74C3C;
}
.SuspensionIn{
  color: #979A9A;
}
.Vac{
  color: #566573;
}
.BajasM{
  color: #E74C3C;
}