<ion-content >

  <ion-card>

    
    <div>
      <ion-button  [routerLink]="['/login']">Volver</ion-button>
    </div>

    
      <ion-card-content>
        <ion-card-title>¿Olvidaste tu contraseña?</ion-card-title>
        <div class="logo">
          <img src="assets/imagenes/icono.png">
        </div>
        
        <ion-label>Ingrese su correo</ion-label>
        <br>
        <br>
        <ion-input [(ngModel)]="email" type="email" placeholder="correo@mail.com" required></ion-input>
        <ion-button expand="block" (click)="resetPassword()">Enviar</ion-button>
      </ion-card-content>
   

  </ion-card>

</ion-content>
