<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start" [routerLink]="['/lista-tarea']">
      <ion-icon slot="start" name="chevron-back-outline" size="large"></ion-icon>
    </ion-buttons>
    <ion-title>Lista de tareas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br>
  <ion-list>
    <ion-item color="dark" class="custom-font-size">
      <ion-input type="text" [(ngModel)]="newUser.titulo" placeholder="Título de la nota"></ion-input>
    </ion-item>

    <ion-item color="primary" class="custom-font-size">
      <ion-label class="custom-label-size">Fecha inicial:</ion-label>
      <ion-datetime presentation="date-time" [preferWheel]="true" [(ngModel)]="newUser.fechaI" color="primary" display-format="DD/MM/YYYY"></ion-datetime>
    </ion-item>
    <br>

    <ion-item color="primary" class="custom-font-size">
      <ion-label class="custom-label-size">Fecha final:</ion-label>
      <ion-datetime presentation="date-time" [preferWheel]="true" [(ngModel)]="newUser.fechaF" color="primary" display-format="DD/MM/YYYY"></ion-datetime>
    </ion-item>

    <ion-item color="dark" class="custom-font-size">
      <ion-label position="stacked" class="custom-label-size">Detalles</ion-label>
      <ion-textarea [(ngModel)]="newUser.detalles" rows="4" placeholder="Escriba los detalles"></ion-textarea>
    </ion-item>
  </ion-list>

  <ion-button expand="block" id="present-alert" [routerLink]="['/calendario']" (click)="save()">Agregar Nota</ion-button>
  <ion-alert trigger="present-alert" message="Nota agregada"></ion-alert>
</ion-content>
