ion-content{  
    --ion-background-color: black
}



ion-item,ion-datetime {
    --ion-background-color: #e0e0e0;  /* Change background color */
    --ion-text-color: #333;           /* Change text color */
    --ion-border-color: #ccc;         /* Change border color */
  }