<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" [routerLink]="['/home']">
      <ion-icon slot="start" name="chevron-back-outline" size="large"></ion-icon>
    </ion-buttons>
    <ion-title>Lista de tareas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div *ngIf="userEmail; else notLoggedIn">
    <ion-button expand="block" (click)="scrollToBottom()">Ultimos</ion-button>
    <ion-list>
      <ion-item *ngFor="let user of tareas; trackBy: trackByFn" >
        <ion-label>
          <p>Título: {{ user.titulo }}</p>
          <br>
          <p>Detalles: {{ user.detalles }}</p>
          <br>
          <p>Fecha Inicial: {{ user.fechaI }}</p>
          <br>
          <p>Fecha Final: {{ user.fechaF }}</p>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>

  <ion-icon slot="start" name="radio-button-on" size="large"></ion-icon>
  
  <ng-template #notLoggedIn>
    <ion-item>
      <ion-label color="danger">
        Inicia sesión antes de crear una nota
      </ion-label>
    </ion-item>
  </ng-template>
  <ion-button expand="block" (click)="scrollToTop()">Primeros</ion-button>
  <br>
  <ion-button expand="full"  [routerLink]="['/notes']">Registrar</ion-button>
</ion-content>