ion-content{  
    --ion-background-color: #ffff ;
    --ion-segment-button-text-color: black;            

}

ion-item{
    --ion-item-background:#ffff
}

p{
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}