

ion-content {
  flex: 1; /* Ocupa todo el espacio disponible */
  background: #fff;
}

ion-toolbar {
  --background: transparent; /* Asegura que el fondo del toolbar sea transparente */
  --ion-background-color: #fff; /* Otra manera de asegurar la transparencia */
  box-shadow: none; /* Elimina cualquier sombra no deseada */
}

ion-buttons {
  --background: transparent; /* Asegura que el fondo del contenedor de botones sea transparente */
  --ion-background-color: transparent; /* Otra manera de asegurar la transparencia */
}

ion-button{
  border-radius: 50%;
  background-color: #ffffff;
}
