<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" [routerLink]="['/login']">
      <ion-icon slot="start" name="chevron-back-outline" size="large"></ion-icon>
    </ion-buttons>
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content color="light">
  <br>
  <br>
  <br>
  <br>
<ion-list [inset]="true">
  <ion-item >
    <ion-label  color="warning"  position="floating">Email</ion-label>
    <ion-input  [(ngModel)]="email" type="email"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label  color="warning"  position="floating">Password</ion-label>
    <ion-input [(ngModel)]="password" type="password"></ion-input>
  </ion-item>
</ion-list>
<br>
<br>
<ion-button expand="full" id="present-alert" (click)="register()">Registrar</ion-button>
<p *ngIf="error">{{ error }}</p>
</ion-content>